{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\IndexController::menu')) }}
  {% for about in abouts %}
    <!-- Page Title START -->
    <div class="page-title-section" style="background-image: url({% path about.banniere1, 'big' %});">
        <div class="container">
            <h1>{{ 'A propos de nous' | trans }}</h1>
            <ul>
                <li><a href="{{ path('index') }}">{{ "Accueil" | trans }}</a></li>
                <li><a href="{{ path('about') }}">{{ "A propos" | trans }}</a></li>
            </ul>
        </div>
    </div>
    <!-- Page Title END -->




    <!-- Info Section START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="pr-30-md">
                        <div class="section-heading">
                            <h4>SOS HOME & PARTNERS</h4>
                        </div>
                        <div class="section-heading-line-left"></div>
                        <div class="text-content-big mt-20 text-justify">
                            {% if locale == 'fr' %}
                                <p class="text-justify">{{ about.descriptionFr}}</p>
                            {% else %}
                                <p class="text-justify">{{ about.descriptionEn}}</p>
                            {% endif %}
                        </div>
                        <div class="mt-20">
                            <ul class="primary-list">
                                 </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img src="{% path about.banniere2, 'photo' %}" >
                </div>
            </div>
        </div>
    </div>
    <!-- Info Section END -->




    <!-- Map Info Section START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img src="{% path about.banniere3, 'image' %}" >

                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-1">
                    <div class="section-heading">
                        <h5>{{ "Nous somme disponible à l'international" | trans }}</h5>
                        <div class="section-heading-line-left"></div>
                    </div>
                    <div class="text-content mt-25">
                        <p>{{ "SOS HOME & PARTNERS est disponible dans plusieurs pays à savoir France, Turkie, Suisse et dans la zone CEMAC" | trans }}</p>
                    </div>
                    <div class="mt-25">
                        <a href="{{ path('contact') }}" class="primary-button button-sm">{{ 'Nous contacté' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Map Info Section END -->
  {% endfor %}




    <!-- Team Members START -->
    <div class="section-block-grey">
        <div class="container">
            <div class="section-heading center-holder">
                <span>{{ "Rencontrez notre équipe" | trans }}</span>
                <h3>{{ "Nous sommes une équipe de professionnels" | trans }}</h3>
                <div class="section-heading-line"></div>
            </div>

            <div class="row mt-50">
                  {% for equipe in equipes %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="team-member">
                        <div class="team-member-img">
                            {% if equipe.image %}
                                <img src="{% path equipe.image, 'big' %}" alt="{{ equipe.nom }}">
                            {% else %}
                                <img src="http://via.placeholder.com/360x300" alt="partner-image">
                            {% endif %}
                        </div>
                        <div class="team-member-text">
                            <h4><a href="#">{{equipe.nom}}</a></h4>
                            <span>{{equipe.poste}}</span>
                            <p>{{equipe.description}}</p>

                            <ul>
                                <li> <a href="{{equipe.facebook}}"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="{{equipe.linkdin}}"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="{{equipe.instagram}}"><i class="fa fa-instagram"></i></a></li>
                                <li> <a href="{{equipe.skype}}"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Members END -->






    <!-- Clients Carousel START -->
    {{ render(controller('App\\Controller\\IndexController::partenaire')) }}

    <!-- Clients Carousel END -->

    {{ render(controller('App\\Controller\\IndexController::footer')) }}

{% endblock %}
