{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\IndexController::menu')) }}


    <!-- Page Title START -->
     {% for service in services %}
    <div class="page-title-section" style="background-image: url({% path service.banniere, 'banniere' %});">
        <div class="container">
            <h1>Easy Protect</h1>
            <ul>
                <li><a href="{{ path('index') }}">{{ "Home" | trans }}</a></li>
                <li><a href="{{ path('service') }}">{{ "Easy Protect" | trans }}</a></li>
            </ul>
        </div>
    </div>
        
    <!-- Page Title END -->




    <!-- Service Single START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <!-- Left Side START -->
                 <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="services-single-left-box">

                        <!-- Vertical Menu START -->
                        
                        <!-- Vertical Menu END -->

                        <div class="services-single-left-heading mt-40">
                            <h4>{{ "Need Help ?" | trans }}</h4>
                        </div>
                        {% for contact in contacts %}
                        <ul class="primary-list mt-30">
                            <li><i class="fa fa-globe"></i>{{contact.adresse}}</li>
                            <li><i class="fa fa-phone"></i>{{contact.telephone}}</li>
                            <li><i class="fa fa-envelope-open"></i>{{contact.email}}</li>
                        </ul>
                      {% endfor %}
                    </div>
                </div>
                <!-- Left Side END -->

                <!-- Right Side START -->
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="services-single-right">
                        <img src="{% path service.image, 'image' %}" alt="" style="height: 456px !important; ">
                        <div class="text-content-big mt-20">
                        </div>
                        
                        <div class="row mt-30">
                            <div class="col-md-12">
                                <div class="pr-15-md">
                                    <div class="section-single-heading">
                                        <h4>{{ "Présentation de Easy Protect" | trans }}</h4>
                                    </div>
                                    <p class="text-justify">{{ service.descriptionFr}}</p>

                                </div>
                            </div>

                        </div>
     {% endfor %}


    <!-- Accordions START -->
                        <div class="panel-group mt-20" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default accordion">
                                <div class="panel-heading accordion-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title accordion-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            {{ 'Avantage' | trans }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body accordion-body">
                                        <ul class="primary-list">
                                            <li><i class="fa fa-check-square"></i> {{ "En raison de son impact social, il est accessible au grand public au prix de 1000 F via notre application EASY PROTECT disponible en libre téléchargement sur Google Play store" | trans }}</li>
                                            <li><i class="fa fa-check-square"></i> {{ "Utilisation facile" | trans }}</li>
                                            <li><i class="fa fa-check-square"></i> {{ "Configuration simple" | trans }}</li>
                                            <li><i class="fa fa-check-square"></i> {{ "Accessibilité en temps réel de votre domicile" | trans }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- Accordions END -->

                        <!-- Download Button START -->
                        <a href="http://soshometech.net/apk/EasyProtect_24_04_2019.apk">
                            <div class="download-file-button clearfix">
                                <h5>{{ "Télécharger l'application" | trans }} <span>(apk)</span></h5>
                                <i class="fa fa-file-zip-o"></i>
                            </div>
                        </a>
                        <!-- Download Button END -->

                    </div>
                    
                    
                </div>
                <!-- Right Side END -->
            </div>
        </div>
    </div>
    <!-- Service Single END -->





    <!-- Clients Carousel START -->
    {{ render(controller('App\\Controller\\IndexController::partenaire')) }}
    <!-- Clients Carousel END -->

    {{ render(controller('App\\Controller\\IndexController::footer')) }}

{% endblock %}
