{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\IndexController::menu')) }}

    <!-- Page Title START -->
       {% for contact in contacts %}
    <div class="page-title-section" style="background-image: url({% path contact.baniere, 'banauxi' %});">
        <div class="container">
            <h1>Contact</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="contact-2.html">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- Page Title END -->



    <!-- Contact Boxes START -->
    <div class="section-block-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="contact-box">
                        <i class="fa fa-phone-square"></i>
                        <h4>Call Us</h4>
                        <span>{{contact.telephone}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="contact-box">
                        <i class="fa fa-map"></i>
                        <h4>Visit Us</h4>
                        <span>{{contact.adresse}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="contact-box">
                        <i class="fa fa-envelope"></i>
                        <h4>Mail Us</h4>
                        <span>{{contact.email}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="contact-box">
                        <i class="fa fa-comments-o"></i>
                        <h4>Live Chat</h4>
                        <span>{{contact.live_chat}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Boxes END -->
 {% endfor %}



    <!-- Contact Form Section START -->
    <div class="section-block">
        <div class="container">
            <div class="section-heading center-holder">
                <span>Get in Touch</span>
                <h3>Let's Talk about Your Business</h3>
                <div class="section-heading-line"></div>
            </div>
            <div class="row mt-50">
                 {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="contact-form-box">
                    <!-- Form Start -->
                    <form class="contact-form">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="email" name="email" placeholder="E-mail">
                        </div>

                        <div class="col-md-12">
                            <input type="text" name="subject" placeholder="Subject">
                        </div>

                        <div class="col-md-12">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-md-12">
                            <div class="center-holder">
                                <button type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form Section END -->





    <!-- Map START -->
    <div id="map">
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk25E4mNfVIEt3tNl3K1HwNZVruVoFBlA&callback=initMap">
        </script>
    </div>
    <!-- Map START -->

    {{ render(controller('App\\Controller\\IndexController::footer')) }}

{% endblock %}
