
<!-- Footer START -->
<footer>
    <div class="container">
        <div class="row">
            <!-- Column 1 Start -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>{{ 'A propos de nous' | trans }}</h3>
                <div class="mt-25">
                    <img src="{{ asset('assets/img/logos/logo.png') }}" width="200px" alt="footer-logo">
                    <div class="footer-social-icons mt-25">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Column 1 End -->

            <!-- Column 2 Start -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>{{ 'Liens rapides' | trans }}</h3>
                <ul class="footer-list">
                    <li><a href="{{ path('index') }}">{{ 'Accueil' | trans }}</a></li>
                    <li><a href="{{ path('service') }}">{{ 'Service' | trans }}</a></li>
                    <li><a href="{{ path('brand') }}">{{ 'Brand Ambassador' | trans }}</a></li>
                    <li><a href="{{ path('about') }}">{{ 'A propos' | trans }}</a></li>
                    <li><a href="{{ path('contact') }}">{{ 'Contact' | trans }}</a></li>
                    <li><a href="http://vps625451.ovh.net:8080/easyprotect/home">{{ 'Connexion' | trans }}</a></li>
                </ul>
            </div>
            <!-- Column 2 End -->

            <!-- Column 3 Start -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>{{ 'Actualités du blog' | trans }}</h3>
            </div>
            <!-- Column 3 End -->

            <!-- Column 4 Start -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <h3>Tags</h3>
                <div class="footer-tags mt-25">

                </div>
            </div>
            <!-- Column 4 End -->
        </div>

        <!-- Footer Bar Start -->
        <div class="footer-bar">
            <p><span class="primary-color">SOSHOMETECH</span> © 2019. {{ 'Tout droit reservé.' | trans }}</p>
        </div>
        <!-- Footer Bar End -->
    </div>
</footer>
<!-- Footer END -->


